#page-head-bg {
    background-image: none;
    background-color: #004b99;
    padding: 3px 0;
}

.comment-list {
    min-height: 75px;
}

.alert ul {
    list-style-type: square;
}

.blog-item-sec .author img {
    margin-bottom: 0;
}

.blog-item-post-info {
    margin: 0;
}

.categories {
    border-top: none;
    margin-bottom: 10px;
}

.admin-categories {
    margin: 8px 0;
    font-size: 12px;
}

.categories span, .admin-categories span {
    color: #fff;
    padding: 3px 5px;
}

#mceu_32, #mceu_68 {
    border-right-width: 1px !important;
}

#mceu_15, #mceu_51 {
    border-radius: 4px;
    border-color: #ccc !important;
}
