#page-head-bg {
    background-image: none;
    background-color: #004b99;
    padding: 3px 0;
}

.comment-list {
    min-height: 75px;
}

.alert ul {
    list-style-type: square;
}

.blog-item-sec .author img {
    margin-bottom: 0px;
}
